<section class="vh-100 pt-4" style="background-color: #eee;">
  <div class="container h-75">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign Up</p>
                <form method="post" action="/signup">
                  <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" class="form-control mt-3" id="exampleInputname" style="background-color:rgba(226, 230, 231, 0.781)"  name="name" aria-describedby="namehelp"
                      placeholder="Enter Name">
                  </div>
                  <div class="form-group mt-2">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control mt-3" id="exampleInputEmail1" style="background-color:rgba(226, 230, 231, 0.781)" name="email" aria-describedby="emailHelp"
                      placeholder="Enter email">
                  </div>
                  <div class="form-group mt-2">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control mt-3" id="exampleInputPassword1"style="background-color:rgba(226, 230, 231, 0.781)"  name="password" placeholder="Password">
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-secondary mt-3">Register</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>