<body>
  <header>
        <div class="banner-container">
        </div>
    </header>
    <nav class="navbar navbar-expand-lg bg-light navbar-dark fixed-top bg-transparent p-md-3">
        <div class="container">
          <a class="navbar-brand fw-bolder fs-2 text-white " href="#"><span style="color: rgb(14, 158, 224);">I</span>service</a>
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item ">
                <a class="nav-link text-white fs-4 hv" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-4 hv" aria-current="page" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-4 hv" aria-current="page" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white fs-4 hv" aria-current="page" href="#contact">Contact</a>
              </li>
                 <li class="nav-item">
                <a class="nav-link text-white fs-4 hv" aria-current="page" href="/login">Sign in</a>
              </li>    
            </ul>
          </div>
        </div>
      </nav>
  <section id="services">
 <div class="section padding_layout_1">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="full">
                <div class="main_heading text_align_center">
                  <h2>Why Choose Us</h2>
                  <p class="large">Fastest repair service with best price!</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="full text_align_center margin_bottom_30">
                <div class="center">
                  <div class="icon"> <img src="/images/i4.png" alt="#" /> </div>
                </div>
                <h4 class="theme_color">Data recovery</h4>
                <p>Perspiciatis eos quos totam cum minima aut!</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="full text_align_center margin_bottom_30">
                <div class="center">
                  <div class="icon"> <img src="/images/i2.png" alt="#" /> </div>
                </div>
                <h4 class="theme_color">Computer repair</h4>
                <p>Perspiciatis eos quos totam cum minima aut!</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="full text_align_center margin_bottom_30">
                <div class="center">
                  <div class="icon"> <img src="/images/i3.png" alt="#" /> </div>
                </div>
                <h4 class="theme_color">Mobile service</h4>
                <p>Perspiciatis eos quos totam cum minima aut!</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
              <div class="full text_align_center margin_bottom_30 margin_0">
                <div class="center">
                  <div class="icon"> <img src="/images/i4.png" alt="#" /> </div>
                </div>
                <h4 class="theme_color">Network solutions</h4>
                <p>Perspiciatis eos quos totam cum minima aut!</p>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top: 35px">
            <div class="col-md-8">
              <div class="full margin_bottom_30">
                <div class="accordion border_circle">
                  <div class="bs-example">
                    <div class="panel-group bg-dark" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <p class="panel-title  text-white"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><i class="fa fa-bar-chart" aria-hidden="true"></i> Complete Recovery from Local & External Drive</a> </p>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                         
                        </div>
                      </div>
                      <div class="panel panel-default" >
                        <div class="panel-heading" >
                          <p class="panel-title  text-black" > <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><i class="fa fa-plane"></i> Recovery Photo, Image, Video </a> </p>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                         
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading ">
                          <p class="panel-title  text-black"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><i class="fa fa-star"></i> Mobile Phone Recovery</a> </p>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                        
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <p class="panel-title text-black"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><i class="fa fa-bar-chart" aria-hidden="true"></i> Complete Recovery from Local & External Drive</a> </p>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse in">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="full" style="margin-top: 35px;">
                <h3>Need file recovery?</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et 
                  quasi architecto beatae vitae dicta sunt explicabo.. </p>
                <p><a class="btn main_bt bg-dark" href="#">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>      
<div class="section padding_layout_1">
  <div class="container ">
    <div class="row">
       <div class="col-md-12">
        <div class="full">
          <div class="main_heading text_align_center">
            <h2>Our Products</h2>
            <p class="large">We package the products with best services to make you a happy customer.</p>
          </div>
        </div>
      </div>
    {{#each products}}
      <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 margin_bottom_30_all" >
        <div class="product_list">
          <div class="product_img"> <img class="img-responsive" src="/product-images/{{this._id}}.jpg" alt="" height="200" width="200"> </div>
          <div class="product_detail_btm">
            <div class="center">
              <h4><a href="#">{{this.productName}}</a></h4>
            </div>
            <div class="product_price">
              <p><span class="old_price">{{this.price}}</span> – <span class="new_price">{{this.price}}</span></p>
            </div>
             <a href="/cart" class="btn btn-secondary mx-5">Add To Cart</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>  
 <section id='contact'>
      <div class="content ">
    
        <div class="container  " >
          <div class="row justify-content-center">
            <div class="col-md-10">
    
              <div class="row justify-content-center">
                <div class="col-md-6">
                  
                  <h3 class="heading mb-4" id="#heading">Let's talk about everything!</h3>
                  <p id="#para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas debitis, fugit natus?</p>
    
                  <p><img src="/images/undraw-contact.svg" alt="Image" class="img-fluid"></p>
    
    
                </div>
                <div class="col-md-6">
                  
                  <form class="mb-5 p-3 " method="post" id="contactForm" name="contactForm"  action="/submit">
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <textarea class="form-control" name="message" id="message" cols="30" rows="7" placeholder="Write your message"></textarea>
                      </div>
                    </div>  
                    <div class="row">
                      <div class="col-12">
                        <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                      <span class="submitting"></span>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
      <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5 " >

  <footer class="text-white text-center text-lg-start  bg-dark" >
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 text-white">About company</h5>

        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
          voluptatum deleniti atque corrupti.
        </p>

        <p>
          Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
          molestias.
        </p>

        <div class="mt-4">
          <!-- Facebook -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-facebook-f"></i></a>
          <!-- Dribbble -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-dribbble"></i></a>
          <!-- Twitter -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-twitter"></i></a>
          <!-- Google + -->
          <a type="button" class="btn btn-floating btn-primary btn-lg"><i class="fab fa-google-plus-g"></i></a>
          <!-- Linkedin -->
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">

       

        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">New York, NY 10012, US</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@example.com</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 01 234 567 88</span>
          </li>
          <li class="mb-3">
            <span class="fa-li"><i class="fas fa-print"></i></span><span class="ms-2">+ 01 234 567 89</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 text-white">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-white" href="#">6-Byte IT Solutions</a>
  </div>
  <!-- Copyright -->
</footer>

</div>
<!-- End of .container -->
  
 <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>   
</body>
</html>  